@import "../../styles/variables";

.section {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;

}

.main {
    background-color: #FBFBFB;
    width: 85%;
    height: 800px;
    padding: 25px;
    margin-left: 15%;
    overflow: scroll;
    position: fixed; 
    padding-bottom: 300px;
  

    @include xs {
        width: 100%;
        margin-left: 0;
    }
}

.aside {
    width: 15%;
    position: fixed; 
    height: 600px;
    overflow: auto;
    padding-bottom: 100px;

    &::-webkit-scrollbar {
        display: none;
    }

  
    @include xs {
        display: none;
    }
}