@import "../../styles/variables";

.section {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;

}

.main {
    background-color: #FBFBFB;
    width: 80%;
    min-height: 100vh;
    padding: 25px;
    margin-left: 20%;

    @include xs {
        width: 100%;
    }
}

.aside {
    width: 20%;
    position: fixed; 
    height: 600px;
    overflow: auto;
    padding-bottom: 100px;

    &::-webkit-scrollbar {
        display: none;
    }

  
    @include xs {
        display: none;
    }
}