@import "../../../styles/variables";

.table {
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 100%;
    margin-top : 30px;
    padding: 20px;


   
}

.row {
    text-align: start;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.08px;
    font-family: $work-sans;
    color: $len-text;
    padding-bottom: 5px;

    @include xs {
        padding: 10px;
        &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
            display: none;
        }
    }

    
}


.data {
    text-align: start;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.08px;
    font-family: $work-sans;
    color: $len-text;
    padding: 10px 0;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);

    @include xs {
        padding: 10px;

       &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        display: none;
    }
        }
}


.filter {
    margin-left: 5px;
    margin-top: 2px;
    cursor: pointer;
}

.menu {
    cursor: pointer;
}

.hide {
    @include xs {
        display: none;
    }
}



// status

.inactive, .pending, .blacklisted, .active {
    font-size: 12px;
    border-radius: 100px;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    padding: 3px 8px;
}

.pending {
    color: rgba(233, 178, 0, 1);
    background-color:  rgba(233, 178, 0, .1);
}

.blacklisted {
    color: $len-red;  
    background-color:rgba(228, 3, 59, .1); 
  }
  
  .active {
    color:rgba(57, 205, 98, 1);
    background-color: rgba(57, 205, 98, .1);
  }
  
  .inactive {
    color: $len-text;
    background: rgba(84, 95, 125, .1);

  }
  

