@import "../../styles/variables";

.title {
    font-family: $work-sans;
     color: $len-red;
     font-size: 64px;
}

.main {
    font-family: $work-sans;
    height: 100%;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    

   
   
    @include xs {
        flex-direction: column;

        .imageStyle {
            display: none;
        }
    }
   
   
}

